.headshot {
    width: 331px;
    height: auto;
    display: block; /* Makes the image block-level to apply margin: auto */
    margin: 30px auto 30px; /* Centers the image horizontally */
    border-radius: 16px; /* Adds curved edges with a 16px radius */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Oswald'; /* Use a nice font-family */
    font-weight: 600; /* Semi-bold 600 */
    background-color: #FBFAF8; /* Setting the background color */
}

.header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0; /* Light background color for the header */
    color: black; /* Black font color */
    position: fixed; /* Fixed at the top */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in the box's width */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it stays on top of other content */
}

.header nav a {
    color: black; /* Black font color */
    text-decoration: none; /* No underline */
    padding: 0 15px; /* Spacing around the links */
    font-size: 18px;
}

/* Separate styling for left and right nav items */
.nav-left,
.nav-right {
    display: flex;
}

.nav-right {
    justify-content: flex-end; /* Align right items to the right */
}

/* Optional: Style for active/current page */
.nav a.active {
    font-weight: lighter;
}

/* Ensure content doesn't hide behind the fixed header */
body {
    padding-top: 60px; /* Adjust based on your header's height */
}

.myname {
    text-align: center; /* Center aligns the text */
    font-weight: 350; /* Sets the font weight to 300 */
    margin: 0px 400px 30px; /* Adds top and bottom margin of 20px, left and right margin of 40px */
    display: block; /* Ensures the paragraph is treated as a block-level element */
    font-size: 18px;
}

.horizontal-bar {
    height: 1px; /* Height of the horizontal bar */
    background-color: black; /* Color of the bar */
    margin: 0px 500px 30px; /* Top and bottom margins of 25px, left and right margins of 500px to match the .myname paragraph */
    display: block; /* Ensures the div is treated as a block-level element */
}

.JPM {
    display: flex; /* Enable Flexbox */
    align-items: start; /* Align items to the top */
    justify-content: center; /* Center items horizontally */
    flex-direction: row; /* Ensure items are laid out in a row */
    margin: 0 400px 40px; /* Adjust the margins to suit your layout needs */
}

.JPMLogo {
    width: 185px;
    height: auto;
    border-radius: 16px;
    margin-right: 30px; /* Add some space between the logo and the text */
}

.JPMText {
    display: flex;
    flex-direction: column; /* Stack the header and sub-header vertically */
}

.JPMHeader, .JPMSubHeader {
    margin: 0; /* Remove margin to tighten the space between header and sub-header */
}

.JPMHeader {
    font-weight: 500;
    font-size: 18px;
}

.JPMSubHeader {
    font-weight: 500;
    font-size: 14px;
    color: #003559
}

.JPMDescription{
    font-weight: 400;
    font-size: 13px;
}

.contact-info h2 {
    text-align: center; /* Centers the text */
    font-weight: 500; /* Semi-bold, adjust as needed */
    font-size: 24px; /* Size of the text, adjust as needed */
    padding-top: 20px; /* Adds space from the top */
    margin: 0; /* Reset default margins */
    padding-bottom: 20px; /* Space above the logos */
}

.SocialMedia {
    display: flex; /* Use flexbox to center children */
    justify-content: center; /* Center children horizontally */
    flex-wrap: wrap; /* Allow the items to wrap as needed */
    gap: 20px; /* This will add space between the logos */
    padding-top: 20px; /* Add space from the top */
    padding-bottom: 20px; /* Add space above the black bar */
}

.SocialMedia img {
    margin-bottom: 20px; /* Space between the logos and the black bar */
    filter: grayscale(0%);
}

.LinkedInLogo, .FBLogo, .TwitterLogo, .IGLogo {
    width: 80px;
    height: auto;
    border-radius: 16px;
}

.LinkedInLogo {
    width: 80px;
    height: auto;
    border-radius: 16px;/* This will give you rounded corners if the logo is square */
}
.FBLogo {
    width: 80px;
    height: auto;
    border-radius: 16px; /* This will give you rounded corners if the logo is square */
}
.TwitterLogo {
    width: 80px;
    height: auto;
    border-radius: 16px; /* This will give you rounded corners if the logo is square */
}
.IGLogo {
    width: 80px;
    height: auto;
    border-radius: 16px; /* This will give you rounded corners if the logo is square */
}

.black-bar {
    height: 2px; /* Height of the black bar */
    background-color: black; /* Color of the bar */
    margin: 0 500px; /* Adds left and right margins to the bar */
    width: calc(100% - 1000px); /* Subtract the left and right margins from the 100% width of its container */
}

.contact-details p {
    text-align: center; /* Centers the text */
    font-weight: 300; /* Lighter font */
    font-size: 14px; /* Smaller size */
    color: #003559; /* Dark gray color, easier on the eyes than black */
    margin: 20px 0; /* Adds top and bottom margin */
}



